USE [master]
GO
/****** Object:  Database [Strips]    Script Date: 23/10/2023 16:57:40 ******/
CREATE DATABASE [Strips]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Strips', FILENAME =     N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Strips.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Strips_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Strips_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Strips].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Strips]
GO
/****** Object:  Table [dbo].[Auteur]    Script Date: 23/10/2023 16:57:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Auteur](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Naam] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reeks]    Script Date: 23/10/2023 16:57:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reeks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Naam] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Strip]    Script Date: 23/10/2023 16:57:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Strip](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nr] [int] NULL,
	[Titel] [nvarchar](200) NOT NULL,
	[Uitgeverij] [int] NOT NULL,
	[Reeks] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StripAuteur]    Script Date: 23/10/2023 16:57:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StripAuteur](
	[AuteurId] [int] NOT NULL,
	[StripId] [int] NOT NULL,
 CONSTRAINT [PK_Table] PRIMARY KEY CLUSTERED 
(
	[AuteurId] ASC,
	[StripId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Uitgeverij]    Script Date: 23/10/2023 16:57:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Uitgeverij](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Naam] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Auteur] ON 

INSERT [dbo].[Auteur] ([Id], [Naam]) VALUES (1, N'Hergé')
INSERT [dbo].[Auteur] ([Id], [Naam]) VALUES (2, N'Hermann')
INSERT [dbo].[Auteur] ([Id], [Naam]) VALUES (3, N'Van Hamme Jean')
GO
SET IDENTITY_INSERT [dbo].[Auteur] OFF
GO
SET IDENTITY_INSERT [dbo].[Reeks] ON 

INSERT [dbo].[Reeks] ([Id], [Naam]) VALUES (1, N'Kuifje')
INSERT [dbo].[Reeks] ([Id], [Naam]) VALUES (2, N'Thorgal')
INSERT [dbo].[Reeks] ([Id], [Naam]) VALUES (3, N'Jeremiah')
GO
SET IDENTITY_INSERT [dbo].[Reeks] OFF
GO
SET IDENTITY_INSERT [dbo].[Strip] ON 

INSERT [dbo].[Strip] ([Id], [Nr], [Titel], [Uitgeverij], [Reeks]) VALUES (2, 23, N'Kuifje en de Picaro''s', 1, 1)
INSERT [dbo].[Strip] ([Id], [Nr], [Titel], [Uitgeverij], [Reeks]) VALUES (3, 14, N'De zonnetempel', 1, 1)
INSERT [dbo].[Strip] ([Id], [Nr], [Titel], [Uitgeverij], [Reeks]) VALUES (4, 3, N'Het waanzinnige land', 4, 5)
GO
SET IDENTITY_INSERT [dbo].[Strip] OFF
GO
INSERT [dbo].[StripAuteur] ([AuteurId], [StripId]) VALUES (1, 2)
INSERT [dbo].[StripAuteur] ([AuteurId], [StripId]) VALUES (1, 3)
INSERT [dbo].[StripAuteur] ([AuteurId], [StripId]) VALUES (1, 123)
GO
SET IDENTITY_INSERT [dbo].[Uitgeverij] ON 

INSERT [dbo].[Uitgeverij] ([Id], [Naam]) VALUES (1, N'Casterman')
INSERT [dbo].[Uitgeverij] ([Id], [Naam]) VALUES (2, N'Le Lombard')
INSERT [dbo].[Uitgeverij] ([Id], [Naam]) VALUES (3, N'Dupuis')
SET IDENTITY_INSERT [dbo].[Uitgeverij] OFF
GO
ALTER TABLE [dbo].[Strip]  WITH CHECK ADD  CONSTRAINT [FK_Strip_Reeks] FOREIGN KEY([Reeks])
REFERENCES [dbo].[Reeks] ([Id])
GO
ALTER TABLE [dbo].[Strip] CHECK CONSTRAINT [FK_Strip_Reeks]
GO
ALTER TABLE [dbo].[Strip]  WITH CHECK ADD  CONSTRAINT [FK_Strip_Uitgeverij] FOREIGN KEY([Uitgeverij])
REFERENCES [dbo].[Uitgeverij] ([Id])
GO
ALTER TABLE [dbo].[Strip] CHECK CONSTRAINT [FK_Strip_Uitgeverij]
GO
ALTER TABLE [dbo].[StripAuteur]  WITH CHECK ADD  CONSTRAINT [FK_Table_auteur] FOREIGN KEY([AuteurId])
REFERENCES [dbo].[Auteur] ([Id])
GO
ALTER TABLE [dbo].[StripAuteur] CHECK CONSTRAINT [FK_Table_auteur]
GO
ALTER TABLE [dbo].[StripAuteur]  WITH CHECK ADD  CONSTRAINT [FK_Table_Strip] FOREIGN KEY([StripId])
REFERENCES [dbo].[Strip] ([Id])
GO
ALTER TABLE [dbo].[StripAuteur] CHECK CONSTRAINT [FK_Table_Strip]
GO
USE [master]
GO
